body {
  background-color: black;
  color: beige;
  margin: 40px;
}
.move-button1 {
  background-color: red;
  border: 4px solid white;
  border-radius: 50px;
  margin: 10px;
  margin-left: 0px;
}
.move-button2 {
  background-color: green;
  border: 4px solid white;
  border-radius: 50px;
  margin: 10px;
}
.move-button3 {
  background-color: blue;
  border: 4px solid white;
  border-radius: 50px;
  margin: 10px;
}
.move-icon {
  height: 50px;
}
.move{
  font-size: 20px;
}
.result {
  font-size: 30px;
  margin-top: 50px;
}
.point {
  font-size: 30px;
}
.reset {
  background-color: orange;
  border: 4px solid white;
  border-radius: 50px;
  margin: 10px;
}